.Popup-tooltip {
  max-width: inherit;
  padding-left: 0px;
  left: 338px !important;
}

.Popup-tooltip .ant-tooltip-arrow {
  opacity: 0;
}

.Popup-tooltip .ant-tooltip-inner{
  background-color: #fff;
  color: inherit;
  padding: 0;
}